.main-container {
  width: 100%;
  height: fit-content;
  background-color: rgba(240, 248, 255, 0.063);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 50px 0 0;
  box-sizing: border-box;
}

.time-line {
  position: absolute;
  left: 50px;
  height: 100%;
  width: 2px;
  background-color: #e9ecee;
  box-sizing: border-box;
}